*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "doctor_whoregular";
	src: url("doctor/doctor-who-webfont.woff2") format("woff2"),
		url("doctor/doctor-who-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
.loader {
	position: absolute;
	z-index: 5;
	height: 100vh;
	width: 100%;
	background: #2b2b2b;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "doctor_whoregular";
	font-size: 20vw;
}
.loader.inactive {
	opacity: 0;
	transition: opacity 0.5s;
}

.loader span {
	text-shadow: #f4efc1 0px 3px 8px;
	position: relative;
}
.loader span::after {
	position: absolute;
	top: 0;
	left: 0;
	text-shadow: rgb(244, 239, 193, 0.25) 0px 54px 55px,
		rgb(244, 239, 193, 0.12) 0px -12px 30px,
		rgb(244, 239, 193, 0.12) 0px 4px 6px,
		rgb(244, 239, 193, 0.17) 0px 12px 13px,
		rgb(244, 239, 193, 0.09) 0px -3px 5px;

	animation: light 1.8s ease infinite;
}

.loader :nth-child(1)::after {
	content: "D";
}
.loader :nth-child(2)::after {
	content: "W";
}

@keyframes light {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.global-container {
	width: 100%;
	height: 530vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw;
	background-image: url("https://wallpaperaccess.com/full/467833.jpg");
	background-attachment: fixed;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: clip;
}
article {
	display: none;
}
.presentation {
	width: 50vw;
	height: auto;
	text-align: center;
	border: 2px solid #eae1c9;
	border-radius: 1vw;
	padding: 2vw 0;
	margin-bottom: 4vw;
	font-size: clamp(1rem, 2vw, 3rem);
	color: #f4f0e6;
	backdrop-filter: blur(8px);
	opacity: 1;
	animation: fadeIn 1s 0.1s ease forwards;
}
.tower {
	position: relative;
	transform-style: preserve-3d;
}

.face {
	position: absolute;
	width: 40vw;
	height: auto;
	top: 0;
	left: 50%;
	display: grid;
	grid-template-rows: repeat(15, 30vw);
	opacity: 1;
	animation: fade 2s ease forwards;
}
.face1 {
	transform-origin: center;
	transform: translateZ(27.5vw) translate(-50%, 0%);
}
.face2 {
	transform-origin: left;
	transform: translateZ(27.5vw) translate(50%) rotateY(72deg);
}
.face3 {
	transform-origin: left;
	transform: translateZ(27.5vw) translate(50%) rotateY(72deg) translateX(100%)
		rotateY(72deg);
}
.face4 {
	transform-origin: left;
	transform: translateZ(27.5vw) translate(50%) rotateY(72deg) translateX(100%)
		rotateY(72deg) translateX(100%) rotateY(72deg);
}
.face5 {
	transform-origin: right;
	transform: translateZ(27.5vw) translate(-150%) rotateY(-72deg);
}
.image-container {
	width: 90%;
	height: 100%;
	align-self: center;
	justify-self: center;
	font-size: clamp(0.8rem, 2vw, 1.3rem);
	color: #f4f0e6;
}
.image-container figcaption {
	width: fit-content;
	max-width: 80%;
	margin: auto;
	background: #5b5b5b;
	padding: 0.5vw 1vw;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	transition: filter 0.2s ease;
	border: 3vw solid #efcc7f;
	border-radius: 0.5vw;
}
.face1 :nth-child(1) {
	filter: grayscale(0%) blur(0);
}
.face2 :nth-child(1) {
	grid-row: 2/3;
}
.face3 :nth-child(1) {
	grid-row: 3/4;
}
.face4 :nth-child(1) {
	grid-row: 4/5;
}
.face5 :nth-child(1) {
	grid-row: 5/6;
}

.face1 :nth-child(2) {
	grid-row: 6/7;
}
.face2 :nth-child(2) {
	grid-row: 7/8;
}
.face3 :nth-child(2) {
	grid-row: 8/9;
}
.face4 :nth-child(2) {
	grid-row: 9/10;
}
.face5 :nth-child(2) {
	grid-row: 10/11;
}

.face1 :nth-child(3) {
	grid-row: 11/12;
}
.face2 :nth-child(3) {
	grid-row: 12/13;
}
.face3 :nth-child(3) {
	grid-row: 13/14;
}
.face4 :nth-child(3) {
	grid-row: 14/15;
}
.face5 :nth-child(3) {
	grid-row: 15/16;
}

/*---------------- keyframes ----------------*/

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}
}
@keyframes fade {
	from {
		opacity: 0;
	}
}
/*---------------- media ----------------*/

@media screen and (max-width: 768px) {
	.global-container {
		height: 1200vw;
	}
	.face {
		width: 80vw;
		grid-template-rows: repeat(15, 60vw);
	}
	.face1 {
		transform-origin: center;
		transform: translateZ(55vw) translate(-50%, 0%);
	}
	.face2 {
		transform-origin: left;
		transform: translateZ(55vw) translate(50%) rotateY(72deg);
	}
	.face3 {
		transform-origin: left;
		transform: translateZ(55vw) translate(50%) rotateY(72deg)
			translateX(100%) rotateY(72deg);
	}
	.face4 {
		transform-origin: left;
		transform: translateZ(55vw) translate(50%) rotateY(72deg)
			translateX(100%) rotateY(72deg) translateX(100%) rotateY(72deg);
	}
	.face5 {
		transform-origin: right;
		transform: translateZ(55vw) translate(-150%) rotateY(-72deg);
	}
}
